<h1>Editing Github Repository Monitoring Configuration</h1>

<%= render 'form', github_repository_monitoring_configuration: @github_repository_monitoring_configuration %>

<%= link_to 'Show', @github_repository_monitoring_configuration %> |
<%= link_to 'Back', github_repository_monitoring_configurations_path %>
