<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_github_repository_monitoring_configuration_path(@github_repository_monitoring_configuration) %> |
<%= link_to 'Back', github_repository_monitoring_configurations_path %>
