<div class="git-dash-header">
  <h1>GitDash</h1>
  <p>Real Time Notifications for Github</p>
</div>
<div class="git-dash-body">
  <div id="git-dash-create-account">
    <%= link_to "Create Account", new_user_path, class: "h4"  %>
  </div>
  <div id="git-dash-login">
    <%= link_to "Login", login_path, class: "h4" %>
  </div>
</div>

