<%= form_with(model: github_repository) do |form| %>
  <% if github_repository.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(github_repository.errors.count, "error") %> prohibited this github_repository from being saved:</h2>

      <ul>
        <% github_repository.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
