// Place all the styles related to the github_repositories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#repository-state {
  padding-top: 3%;
}

#repository-monitoring-configuration {
  padding-top: 3%;
  height: 110%;
}