// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#profile-details {
  padding-top: 5%;
  width: 46%;
}

#profile-github-events {
  margin-left: -40%;
}

#profile-github-events-header {
  margin-bottom: 5%;
}

#profile-github-events-body ul {
  padding: 2%;
  width: 40%;
}

